{margin-bottom:0}.Email
{line-height:2}.Footer-link
{font-family:'Avenir Next','Segoe ui',Ubuntu,sans-serif;text-decoration:none;color:#1b2947;background:linear-gradient(180deg,transparent 94%,#e96f92 94%,#e96f92 100%);background-repeat:repeat-x;background-position:0 10px;transition:background-position 80ms ease-in,color 80ms;}.Footer-link strong
{color:#e96f92;transition:color 80ms}.Footer-link:hover strong
{color:#1b2947}.Footer-link:hover
.zup{
  z-index: 10;
}
.center {
    margin: auto;
    width: 50%;
    padding-left: 50%;
}
.picture{
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  height:auto;
}
.logo{
  width:60%;
  margin-left: 20%;
  margin-right: 20%;
  height:auto;
}
.button{
  width:100%;
  max-width: 20vh;
  height:100%;
  max-height: 20vh;
}
.container {
  display: table;
  width: 100%;
  height: 100%;
}

.interior {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn {
  background-color: #fff;
  padding: 1em 3em;
  border-radius: 3px;
  text-decoration: none;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 80%;
  height:80%;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h3 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-window h1 {
  font-size: 300%;
  margin: 0 0 15px;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit
}

.form {
  font-family: "Work Sans", "Helvetica", sans-serif;
  font-size: .9em;
  line-height: 1.45;
}

.calculator {
  height: 100vh;
  padding-left: 9%;
  border-left: solid 40px #eee;
}

/* I want to make a neat (but not too flashy) gradient animation that will fill the corresponding percentage of the `calculator` element's bg on calculation. This code has hacky gradient animation keyframes, ending on a Sass map of ethnicity-to-percentage keys.

@TODO:
JS: Add proper ethnicity class based on user's ethnicity choice to `calculator` element when salary result is calculated.
CSS: Smooth the animation out somehow? I can't do the overshooting the background size and animate the position without some crazy mathing, because I'm dealing with specific percentages instead of just a pretty gradient. Rewrite the markup so the Map appears first as we need to reference the class name as $ethnicity.

.gradient-fill {
	background-color: white;
	animation: gradient-fill .1s ease-in forwards;
}

@keyframes gradient-fill {
  0% {
    background-image: linear-gradient(
        to bottom,
        #f7f7f7 10%,
        white 10%
    );
  }
  50% {
    background-image: linear-gradient(
        to bottom,
        #f7f7f7 28%,
        white 28%
    );
  }

  $ethnicity: (
    latina: 54%,
    black: 63%,
    pacificislander: 62%,
    ndn: 59%,
    asian: 90%,
  );

  @each $ethnicity, $percentage in $ethnicity {
    100% {
      background-image: linear-gradient(
        to bottom,
        #f7f7f7 $percentage,
        white $percentage
      )
    }
  }
}
*/

.giant-letters {
  font-size: 2em;
  line-height: 2;
  letter-spacing: -1px;
  font-weight: 300;
}


input, select {
  font: 300 2em "Work Sans", "Helvetica", sans-serif;
  border: 0;
  outline: none;
  color: white;
  background-color: #ee5757;
}

.salary-initial {
  position: relative;
}

input {
	-webkit-appearance: none;
  width: 30%;
  min-width: 100px;
  margin-left: 5px;
}

.input__label {
	display: inline-block;
  position: absolute;
  top: -5px;
  left: 0;
  padding: 0 0 0 20px;
	font-size: 40%;
	user-select: none;
  color: white;
}


select {
  padding: 10px 40px 10px 10px;
  display: block;
  appearance: none;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 645px;
  margin-bottom: -10px;
}

select option {
  font-weight: 200;
}

#salary-calculated {
	border-bottom: solid 10px #ee5757;
}

.data {
  background: #222;
  color: white;
}

@media (min-width: 1285px) {
  .calculator, .data {
    display: inline-block;
  }

  .calculator {
    float: left;
    width: 30%;
  }

  .data {
    float: right;
    width: 40%;
  }
}

.data p, .data h1, .data table {
  width: 80%;
}

h1 {
  @extend .giant-letters;
  line-height: 1.3;
  margin: 50px auto;
}

em {
  font-style: normal;
  background: #ee5757;
  color: white;
  padding: 0 10px;
}

p {
  display: block;
  margin: 10px auto;
}

a {
  position: relative;
	border-bottom: solid 2px #343434;
  color: #ee5757;
  text-decoration: none;
}
